
body {
margin: 0;
background-image: linear-gradient(#ffbe79, #ffbe79 10%, #75bed6 40%, #75bed6);
overflow: hidden;
height: 100vh;
}

.bird {
width: 25px;
height: 5px;
display: inline-block;
position: absolute;
transform: skew(20deg, 20deg);
animation: wave 2.5s ease-in-out infinite;
}

.bird:before,
.bird:after {
content: '';
width: 100%;
height: 100%;
background-color: #000;
position: absolute;
border-radius: 20%;
}

.bird:before {
right: 49%;
transform-origin: right;
transform: rotate(-40deg);
animation: flap-left .75s ease-in-out infinite;
}

.bird:after {
left: 49%;
transform-origin: left;
transform: rotate(40deg);
animation: flap-right .75s linear infinite;
}

@keyframes wave {
40% {
transform: translateY(40px) skew(20deg, 20deg);
}

50% {
transform: translateY(50px) skew(20deg, 20deg);
}

60% {
transform: translateY(40px) skew(20deg, 20deg);
}

100% {
transform: translateY(0) skew(20deg, 20deg);
}
}

@keyframes flap-left {
60% {
transform: rotate(10deg);
}

75% {
transform: rotate(20deg);
}

100% {
transform: rotate(-40deg);
}
}

@keyframes flap-right {
60% {
transform: rotate(-10deg);
}

75% {
transform: rotate(-20deg);
}

100% {
transform: rotate(40deg);
}
}
